body {
	background-color: rgb(246, 232, 246);
	height: 100%;
	width: 100%;
	text-align: center;
}

.tittle {
	text-align: center;
	font-size: 5em;
	color: darkolivegreen;
}

.carrusel {
	width: 100%;
	height: 580px;
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items:start;
}

.container {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	white-space: nowrap;
	overflow-x: hidden;
	height: (1.2 * 30em);
	width: 70em;
	top: 15vh;
	margin: auto;
	transform: translateY((-0.6 * 12em));
}
.inner {
	position: absolute;
	transition: transform 0.3s ease;
}
.card {
	width: 13em;
	height: 20em;
	border-radius: 2px;
	box-shadow: 0 0 20px 4px rgba(0,0,0,0.4);
	display: inline-block;
	margin: 0 0.05em;
	position: relative;
	bottom: -1.2em;
	transition: transform 0.3s ease, box-shadow 0.2s ease;
	&:hover {
		box-shadow: 0 0 20px 8px rgba(0,0,0,0.4);
	}
}

div #foto1 {
	background-image: url(../../assets/fotosFrida/Infancia024aFG.jpg);
	background-size: cover;
	background-position: center;
}

div #foto2 {
	background-image: url(../../assets/fotosFrida/Solos001a.jpg);
	background-size: cover;
	background-position: center;
}

div #foto3 {
	background-image: url(../../assets/fotosFrida/60.jpg);
	background-size: cover;
	background-position: center;
}

div #foto4 {
	background-image: url(../../assets/fotosFrida/IMG_9273.jpg);
	background-size: cover;
	background-position: center;
}

div #foto5 {
	background-image: url(../../assets/fotosFrida/de-Frida032.jpg);
	background-size: cover;
	background-position: center;
}

.card[data-scale="0"],
	
.card[data-scale="4"] {
	transform: scale(1);
	z-index: 0;
}
.card[data-scale="1"],
.card[data-scale="3"] {
	transform: scale(1.1);
	z-index: 1;
}
.card[data-scale="2"] {
	transform: scale(1.2);
	z-index: 2;
}

/*.btn {
	position: absolute;
	top: 0;
	cursor: pointer;
	background: rgba(255,255,255,0.1);
	padding: 0 2em;
	line-height: normal;
	
	svg {
		fill: black;
		width: 2em;
		height: 2em;
	}
	&.next {
		right: 1%;
	}
	&.prev {
		left: 1%;
	}
	&:hover {
		background: rgba(255,255,255,0.2);
	}
}*/

.btn {
	position: absolute;
	top: 0;
	cursor: pointer;
	background: rgba(255,255,255,0.1);
	margin-top: 800px;
	padding: 0 2em;
	line-height: 100vh;
	transition: background 0.3s ease;
	svg {
		fill: rgb(134, 21, 136);
		width: 3em;
		height: 3em;
	}
	&.next {
		right: 0;
	}
	&.prev {
		left: 0;
	}
	&:hover {
		background: rgba(255,255,255,0.2);
	}
}


@media screen and (max-width: 767px) {
	body {
		background-color: rgb(246, 232, 246);
		height: 100%;
		width: 100%;
		text-align: center;
	}

	.tittle {
		text-align: center;
		font-size: 2em;
		color: darkolivegreen;
	}

	.carrusel {
		width: 100%;
		height: 300px;
		display: flex;
		flex-wrap: nowrap;
		justify-content: center;
		align-items:start;
	}

	.container {
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		white-space: nowrap;
		overflow-x: hidden;
		height: (1.2 * 10em);
		width: 41.5em;
		top: 12vh;
		margin: auto;
		transform: translateY((-0.6 * 12em));
		
	}
	.inner {
		position: relative;
		transition: transform 0.3s ease;
	}
	.card {
		width: 5em;
		height: 8em;
		border-radius: 2px;
		border-color:black;
		box-shadow: 0 0 10px 2px rgba(0,0,0,0.4);
		display: inline-block;
		margin: 0 0.02em;
		position: relative;
		bottom: -1.2em;
		transition: transform 0.3s ease, box-shadow 0.2s ease;
		&:hover {
			box-shadow: 0 0 20px 8px rgba(0,0,0,0.4);
		}
	}

	.btn {
		position: relative;
		cursor: pointer;
		background: rgba(255,255,255,0.1);
		padding: 0;
		line-height: normal;
		
		svg {
			fill: black;
			width: 1em;
			height: 1em;
		}
		&.next {
			right: 5%;
		}
		&.prev {
			left: 5%;
		}
		&:hover {
			background: rgba(255,255,255,0.2);
		}
	}
}

