body {
	background: purple;
	text-align: center;
	position: relative;
}

.container {
	position: relative;
	white-space: nowrap;
	overflow-x: hidden;
	height: (1.2 * 12em);
	width: 41.5em;
	top: 50vh;
	margin: auto;
	transform: translateY((-0.6 * 12em));
}
.inner {
	position: absolute;
	transition: transform 0.3s ease;
}
.card {
	width: 8em;
	height: 12em;
	background: red;
	border-radius: 2px;
	box-shadow: 0 0 20px 4px rgba(0,0,0,0.4);
	display: inline-block;
	margin: 0 0.05em;
	position: relative;
	bottom: -1.2em;
	transition: transform 0.3s ease, box-shadow 0.2s ease;
	&:hover {
		box-shadow: 0 0 20px 8px rgba(0,0,0,0.4);
	}
}

.card[data-scale="0"],
.card[data-scale="4"] {
	background-color: aqua;
	transform: scale(1);
	z-index: 0;
}
.card[data-scale="1"],
.card[data-scale="3"] {
	transform: scale(1.1);
	z-index: 1;
}
.card[data-scale="2"] {
	transform: scale(1.2);
	z-index: 2;
}

.btn {
	position: absolute;
	top: 0;
	cursor: pointer;
	background: rgba(255,255,255,0.1);
	padding: 0 2em;
	line-height: 100vh;
	
	svg {
		fill: white;
		width: 3em;
		height: 3em;
	}
	&.next {
		right: 0;
	}
	&.prev {
		left: 0;
	}
	&:hover {
		background: rgba(255,255,255,0.2);
	}
}