header {
    background-color: #C26267;
    ul {
        height: 7rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        color: white;
        font-weight: bolder;
    }
}